.liked .hymn-player .hymn-artwork-container .hymn-artwork:before {
  color: #2ecc71;
  text-align: center;
  border: 5px solid #2ecc71;
  font-size: 25px;
  box-shadow: 0 0 2px #333;
  text-shadow: 0 0 3px #333;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1001;
  -webkit-animation: fadein 0.3s ease-out;
  -ms-animation: fadein 0.3s ease-out;
  animation: fadein 0.3s ease-out;
  display: block;
  content: 'Dope';
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: -10px;
}
@media (max-height: 500px) {
  .liked .hymn-player .hymn-artwork-container .hymn-artwork:before {
    font-size: 15px;
    border: 3px solid #2ecc71;
    padding: 5px;
  }
}
.disliked .hymn-player .hymn-artwork-container .hymn-artwork:before {
  color: #e74c3c;
  text-align: center;
  border: 5px solid #e74c3c;
  font-size: 25px;
  box-shadow: 0 0 2px #333;
  text-shadow: 0 0 3px #333;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1001;
  -webkit-animation: fadein 0.3s ease-out;
  -ms-animation: fadein 0.3s ease-out;
  animation: fadein 0.3s ease-out;
  display: block;
  content: 'Whack';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  right: -10px;
}
@media (max-height: 500px) {
  .disliked .hymn-player .hymn-artwork-container .hymn-artwork:before {
    font-size: 15px;
    border: 3px solid #e74c3c;
    padding: 5px;
  }
}
.hymn-player {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  color: #222;
  background-color: #fff;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 1em;
  font-weight: 300;
}
.hymn-player .hymn-artwork-container {
  position: relative;
  height: 50%;
  max-height: 500px;
  background: -webkit-linear-gradient(left bottom, #f82769 0%, #d8aa6d 100%);
  background: linear-gradient(to right top, #f82769 0%, #d8aa6d 100%);
}
.hymn-player .hymn-artwork-container .hymn-artwork {
  position: relative;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .hymn-player .hymn-artwork-container .hymn-artwork {
    *zoom: 1;
    width: auto;
    max-width: 1440px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    background-size: contain;
    max-width: 500px;
  }
  .hymn-player .hymn-artwork-container .hymn-artwork:before,
  .hymn-player .hymn-artwork-container .hymn-artwork:after {
    content: '';
    display: table;
  }
  .hymn-player .hymn-artwork-container .hymn-artwork:after {
    clear: both;
  }
}
@media (min-width: 768px) and (max-height: 800px) {
  .hymn-player .hymn-artwork-container .hymn-artwork {
    max-width: 400px;
  }
}
@media (max-height: 500px) {
  .hymn-player .hymn-artwork-container .hymn-artwork {
    *zoom: 1;
    width: auto;
    max-width: 1440px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 250px;
    background-size: contain;
  }
  .hymn-player .hymn-artwork-container .hymn-artwork:before,
  .hymn-player .hymn-artwork-container .hymn-artwork:after {
    content: '';
    display: table;
  }
  .hymn-player .hymn-artwork-container .hymn-artwork:after {
    clear: both;
  }
}
@media (max-height: 300px) {
  .hymn-player .hymn-artwork-container .hymn-artwork {
    max-width: 200px;
  }
}
@media (max-height: 200px) {
  .hymn-player .hymn-artwork-container .hymn-artwork {
    max-width: 150px;
  }
}
.hymn-player .hymn-info {
  padding: 30px;
  text-align: center;
}
@media (max-height: 500px) {
  .hymn-player .hymn-info {
    padding: 20px;
  }
}
@media (max-height: 500px) {
  .hymn-player .hymn-info {
    padding: 10px;
  }
}
.hymn-player .hymn-info .hymn-title {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 40px;
  line-height: 150%;
}
@media (max-height: 500px) {
  .hymn-player .hymn-info .hymn-title {
    font-size: 30px;
  }
}
.hymn-player .hymn-info .hymn-artist {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-style: italic;
  font-size: 20px;
  line-height: 150%;
}
@media (max-height: 500px) {
  .hymn-player .hymn-info .hymn-artist {
    font-size: 15px;
  }
}
.hymn-player .hymn-controls .hymn-progress {
  width: 100%;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  background-color: #efefef;
}
@media (max-height: 500px) {
  .hymn-player .hymn-controls .hymn-progress {
    height: 10px;
  }
}
.hymn-player .hymn-controls .hymn-progress .progress-value {
  background-color: #ffac4f;
}
.hymn-player .hymn-controls .hymn-progress:hover {
  height: 30px;
}
@media (max-height: 500px) {
  .hymn-player .hymn-controls .hymn-progress:hover {
    height: 20px;
  }
}
.hymn-player .hymn-controls .hymn-control {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: inherit;
  color: inherit;
  font-size: 40px;
}
@media (max-height: 500px) {
  .hymn-player .hymn-controls .hymn-control {
    font-size: 30px;
  }
}
.hymn-player .hymn-controls .hymn-play {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.hymn-player .hymn-controls .hymn-play:before,
.hymn-player .hymn-controls .hymn-play:after {
  content: '';
  display: table;
}
.hymn-player .hymn-controls .hymn-play:after {
  clear: both;
}
.hymn-player .hymn-controls .hymn-play:before {
  content: '\e600';
}
.hymn-player .hymn-controls .hymn-pause {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.hymn-player .hymn-controls .hymn-pause:before,
.hymn-player .hymn-controls .hymn-pause:after {
  content: '';
  display: table;
}
.hymn-player .hymn-controls .hymn-pause:after {
  clear: both;
}
.hymn-player .hymn-controls .hymn-pause:before {
  content: '\e601';
}
.hymn-player .hymn-controls .hymn-skip {
  display: none;
}
/* icon font lol */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?8sfyn6");
  src: url("fonts/icomoon.eot?#iefix8sfyn6") format('embedded-opentype'), url("fonts/icomoon.woff?8sfyn6") format('woff'), url("fonts/icomoon.ttf?8sfyn6") format('truetype'), url("fonts/icomoon.svg?8sfyn6#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }
}
