/* demo sheet */
html, body {
  height: 100%;
  width: 100%;

  background-color: #2c3e50;
}

.hymn-player {
  margin: 100px auto;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}

/* reusable sheet */
.hymn-player {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;

  position: relative;
  color: #333;
  height: 275px;
  width: 250px;
  transition: height 0.4s ease-in-out;
  background-color: #ecf0f1;
}

.hymn-player:hover {
  height: 300px;
}

.hymn-artwork {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  transition: all 0.4s ease-in-out;
  backface-visibility: hidden;
}

.hymn-player:hover .hymn-artwork {
  border-radius: 100%;
  transform: scale(0.8) translateY(-120px);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}

.hymn-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 250px;
}

.hymn-progress {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;

  width: 190px;
  height: 10px;
}

.hymn-progress::-webkit-progress-bar {
  background-color: #bdc3c7;
  border-radius: 5px;
  border: 1px solid #CFCFCF;
}

.hymn-progress::-webkit-progress-value {
  background-color: #3498db;
  border-radius: 5px;
}

.hymn-control {
  transition: color 0.1s ease-in-out;
  display: inline-block;
  text-align: center;
  width: 30px;
  vertical-align: middle;
  outline: none;
  border: none;
  font-size: 1em;
  background-color: inherit;
  color: inherit;

  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hymn-control:hover {
  color: #555;
}

.hymn-control:active {
  color: #888;
}

.hymn-skip:before {
  content: '\e604';
}

.hymn-play:before {
  content: '\e600';
}

.hymn-pause:before {
  content: '\e601';
}

.hymn-info {
  box-sizing: border-box;
  backface-visibility: hidden;
  pointer-events: none;
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: default;
  height: 125px;
  width: 250px;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin-bottom: 30px;
  line-height: 2.2em;
}

.hymn-player:hover .hymn-info {
  opacity: 1;
  transition: opacity 0.4s ease-in-out 0.2s;
}

.hymn-title {
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hymn-album {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hymn-artist {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* icon font lol */
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?8sfyn6');
  src:url('fonts/icomoon.eot?#iefix8sfyn6') format('embedded-opentype'),
    url('fonts/icomoon.woff?8sfyn6') format('woff'),
    url('fonts/icomoon.ttf?8sfyn6') format('truetype'),
    url('fonts/icomoon.svg?8sfyn6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: '\e600';
}
.icon-pause:before {
  content: '\e601';
}
.icon-stop:before {
  content: '\e602';
}
.icon-first:before {
  content: '\e603';
}
.icon-last:before {
  content: '\e604';
}
.icon-volume-high:before {
  content: '\e605';
}
.icon-volume-medium:before {
  content: '\e606';
}
.icon-volume-low:before {
  content: '\e607';
}
.icon-volume-mute:before {
  content: '\e608';
}
.icon-volume-mute2:before {
  content: '\e609';
}
