/* demo sheet */
html, body {
  height: 100%;
  width: 100%;

  background-color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.hymn-player {
  position: relative;
  margin: 100px auto;
}

/* reusable sheet */
.hymn-player {
  color: #333;
  width: 250px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: #ecf0f1;
}

.hymn-artwork {
  height: 250px;
  width: 250px;
}

.hymn-controls {
  height: 25px;
}

.hymn-progress {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;

  width: 190px;
  height: 10px;
}

.hymn-progress::-webkit-progress-bar {
  background-color: #bdc3c7;
  border-radius: 5px;
  border: 1px solid #CFCFCF;
  z-index: 2;
}

.hymn-progress::-webkit-progress-value {
  background-color: #3498db;
  border-radius: 5px;
  z-index: 1;
}

.hymn-control {
  transition: color 0.1s ease-in-out;
  display: inline-block;
  text-align: center;
  width: 30px;
  vertical-align: middle;
  outline: none;
  border: none;
  font-size: 1em;
  background-color: inherit;
  color: inherit;

  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hymn-control:hover {
  color: #555;
}

.hymn-control:active {
  color: #888;
}

.hymn-skip:before {
  content: '\e604';
}

.hymn-play:before {
  content: '\e600';
}

.hymn-pause:before {
  content: '\e601';
}

.hymn-info {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
  height: 200px;
  width: 250px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 10px;
  line-height: 150%;
  transition: opacity 0.4s ease-out;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hymn-info:hover {
  opacity: 1;
}

.hymn-title {
  font-size: 1.3em;
}


/* icon font lol */
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?8sfyn6');
  src:url('fonts/icomoon.eot?#iefix8sfyn6') format('embedded-opentype'),
    url('fonts/icomoon.woff?8sfyn6') format('woff'),
    url('fonts/icomoon.ttf?8sfyn6') format('truetype'),
    url('fonts/icomoon.svg?8sfyn6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: '\e600';
}
.icon-pause:before {
  content: '\e601';
}
.icon-stop:before {
  content: '\e602';
}
.icon-first:before {
  content: '\e603';
}
.icon-last:before {
  content: '\e604';
}
.icon-volume-high:before {
  content: '\e605';
}
.icon-volume-medium:before {
  content: '\e606';
}
.icon-volume-low:before {
  content: '\e607';
}
.icon-volume-mute:before {
  content: '\e608';
}
.icon-volume-mute2:before {
  content: '\e609';
}
