@import 'nib'
@import 'jeet'

progressColor = #ffac4f
progressBackground = #efefef
playerBackground = #fff
likeColor = #2ecc71
dislikeColor = #e74c3c
fontColor = #222

betterfont()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility

iconfont()
  betterfont()
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

reset-button()
  vertical-align: middle
  outline: none
  border: none
  font-size: 1rem
  background-color: inherit
  color: inherit

stamp(color)
  color: color
  border: 5px solid color
  font-size: 25px
  box-shadow: 0 0 2px #333
  text-shadow: 0 0 3px #333
  border-radius: 3px
  padding: 10px
  font-weight: bold
  letter-spacing: 2px
  text-transform: uppercase
  z-index: 1001
  animation: fadein 0.5s
  
  @media (max-height: 500px)
    font-size: 15px
    border: 3px solid color
    padding: 5px

@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1

.liked
  .hymn-player
    .hymn-artwork-container
      .hymn-artwork
        &:before
          stamp(likeColor)
          content: 'Dope'
          transform: translateY(-50%) rotate(-20deg)
          absolute: top 30px left

.disliked
  .hymn-player
    .hymn-artwork-container
      .hymn-artwork
        &:before
          stamp(dislikeColor)
          content: 'Whack'
          transform: translateY(-50%) rotate(20deg)
          absolute: top 30px right

.hymn-player
  betterfont()
  transform: translate3d(0, 0, 0)
  backface-visibility: hidden
  perspective: 1000

  user-select: none
  overflow: hidden
  position: relative
  height: 100%
  width: 100%

  color: fontColor
  background-color: playerBackground

  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  font-size: 1em
  font-weight: 300

  .hymn-artwork-container
    position: relative
    height: 50%
    max-height: 500px
    background: linear-gradient(to right top, #f82769 0%, #d8aa6d 100%)

    .hymn-artwork
      z-index: 1000
      height: 100%
      width: 100%
      background-size: cover
      background-position: center center
      background-repeat: no-repeat

      @media (min-width: 768px)
        center()
        background-size: contain
        max-width: 500px

      @media (max-height: 500px)
        center()
        max-width: 250px
        background-size: contain

      @media (max-height: 300px)
        max-width: 200px

      @media (max-height: 200px)
        max-width: 150px

  .hymn-info
    padding: 30px
    text-align: center

    @media (max-height: 500px)
      padding: 20px

    @media (max-height: 500px)
      padding: 10px

    .hymn-title
      overflow: ellipsis
      font-size: 40px
      line-height: 150%

      @media (max-height: 500px)
        font-size: 30px

    .hymn-artist
      overflow: ellipsis
      font-style: italic
      font-size: 20px
      line-height: 150%

      @media (max-height: 500px)
        font-size: 15px

  .hymn-controls
    .hymn-progress
      width: 100%
      transition: height 0.2s ease-in-out
      absolute: bottom left
      height: 20px
      background-color: progressBackground

      @media (max-height: 500px)
        height: 10px

      .progress-value
        background-color: progressColor

      &:hover
        height: 30px

        @media (max-height: 500px)
          height: 20px

    .hymn-control
      iconfont()
      reset-button()
      font-size: 40px

      @media (max-height: 500px)
        font-size: 30px

    .hymn-play
      center()
      &:before
        content: '\e600'

    .hymn-pause
      center()
      &:before
        content: '\e601'

    .hymn-skip
      display: none

/* icon font lol */
@font-face
  font-family: 'icomoon'
  src: url('fonts/icomoon.eot?8sfyn6')
  src: url('fonts/icomoon.eot?#iefix8sfyn6') format('embedded-opentype'),
    url('fonts/icomoon.woff?8sfyn6') format('woff'),
    url('fonts/icomoon.ttf?8sfyn6') format('truetype'),
    url('fonts/icomoon.svg?8sfyn6#icomoon') format('svg')
  font-weight: normal
  font-style: normal
